body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

#root{
  display:flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.tablero{
  width: 50vw;
  height: 50vh;
  color: bisque;
}