.App {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

h1{
  text-align: center; 
  margin-bottom: 40px;
  margin-top: 50px;
 
}
.container1{
margin: auto;
}

.tablero{
  width: 40vw;
  height: 40vh;
  flex-wrap: wrap;
  display: flex; 
  margin: auto; 
}

.celda{
  width: 10% ;
  height:10%;
  border: 1px solid rgb(150, 171, 220);
  background-color: rgb(160, 224, 245);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

}

.barco1{
  background-color: rgb(232, 177, 121);
}
.barco2{
  background-color: rgb(160, 224, 245);
}

.fire{
  background-color:  rgb(137, 196, 208);
}

.fire2{
  background-color: rgb(255, 127, 159);
}

.torpedo{
  background-color:rgb(137, 196, 208);
}

.torpedo2{
  background-color: rgb(137, 196, 208);
}

.shooted{
  background-color: rgb(232, 126, 20);
}

.shooted2{
  background-color: rgb(241, 244, 49);
}

.container2{
margin: auto;
}

.reset-btn{
  border: 5px solid coral;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin: auto;
  margin-bottom: 80px;
  cursor:pointer;

}